<main class="container">
  <section>
    <h1>Software development</h1>
  </section>

  <section class="row row-cols-1">
    <ng-container *ngFor="let post of posts">
      <article class="card m-2">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Read more</a>
        </div>
      </article>
    </ng-container>
  </section>
</main>
